.idea
/TODO.md
/.~lock.kimai-invoices_20260430151004.xlsx#
/.direnv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual Environments
.venv/
venv/
ENV/

# uv
uv.lock

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
/out/


.env